/* Big tablet to 1200px (width smaller than 1140px) */

@media only screen and (max-width : 1200px) {
    .hero-text-box{
        width: 100%;
        padding: 0 2%;
    }

    .row {
        padding: 0 2%;
    }

}


/* Small tablet to big tablet  768 - 1023 px */
@media only screen and (max-width : 1023px) {
    body { font-size: 18px;}

    section {
        padding: 60px 0;
    }

    .long-copy {
        width: 80%;
        margin-left: 10%;
    }

}



/*  Small phones to small tables 481 - 767px */
@media only screen and (max-width : 767px) {

}



/* Small phones 0 - 480 px */
@media only screen and (max-width : 480px) {

}